/* start revitalift */
.revitalift {
  width: 100%;
  padding: 0px 80px;
  height: fit-content;
  margin: 65px auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.revitalift .image {
  width: 720px;
  height: 540px;
}
.revitalift .image img {
  width: 90%;
  object-fit: contain;
}
.revitalift .liftpro {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.revitalift .liftpro h2 {
  width: 75%;
  font-size: 20px;
  font-weight: 700;
}
.revitalift .liftpro p {
  width: 75%;
  font-size: 14px;
}
.revitalift .liftpro a {
  padding: 15px 60px;
  text-decoration: none;
  font-size: 10px;
  background-color: #000;
  color: #fff;
}
/* end revitalift */
