/* start header */
header {
  width: 100%;
  height: fit-content;
  padding: 0px 20px;
  background-image: url(../../image/header.jpg);
  background-size: cover;
  background-position: center;
}
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    transparent 40%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
header .head {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .right-header {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
header > .left-header {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
header .menu-btn {
  width: 25px;
  height: 18px;
  border: none;
  padding: 0;
  cursor: pointer;

  background:
    linear-gradient(white, white) top,
    linear-gradient(white, white) center,
    linear-gradient(white, white) bottom;

  background-size: 25px 2px;
  background-repeat: no-repeat;
}
header .body {
  width: 100%;
  height: 280px;
  padding: 12px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

header .body span {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
header .body p {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 50px;
}
header .body a {
  padding: 15px 45px;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  background-color: #f5d5a8;
  color: #000000;
  cursor: pointer;
}
header.desktop {
  display: none;
}
/* end header */
